In [1]:
#importing libraries
from sklearn.datasets import load_boston
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [1]:
import numpy as np

In [29]:
hello = lambda *x : f"{x}"

In [13]:
n = 5

"('There',)"

In [11]:
# data = load_boston()
# data.keys()

In [12]:
# data.feature_names, data.filename

In [4]:
# df = pd.DataFrame(data=data.data, columns=data.feature_names)
# df['MEDV'] = data.target

In [20]:
df = pd.read_csv('boston_housing.csv')

In [21]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,NaN,0,0.458,NaN,45.8,6.0622,3,NaN,18.7,394.63,NaN,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [22]:
X = df.drop(labels=['MEDV'], axis=1)
y = df['MEDV']

In [24]:
X.isnull().sum()

CRIM       0
ZN         0
INDUS      1
CHAS       0
NOX        0
RM         1
AGE        0
DIS        0
RAD        0
TAX        1
PTRATIO    0
B          0
LSTAT      1
dtype: int64

In [25]:
# df.isnull().sum()

In [26]:
# df.to_csv('boston_housing.csv', index=False)

In [32]:
def get_null_value_counts(data):
    null_columns = {}
    for index,col_name in enumerate(data.columns):
        null_count = data[col_name].isnull().sum()
        if null_count > 0:
            null_columns[index] = col_name
    return null_columns

In [33]:
null_columns = get_null_value_counts(X)

In [34]:
null_columns

{2: 'INDUS', 5: 'RM', 9: 'TAX', 12: 'LSTAT'}

In [26]:
import statistics as stat
import numpy as np

In [24]:
arr = [i for i in range(1,11)]

In [61]:
arr2 = [np.ones(5)]

arr2 = np.append(arr2, 5)

arr2

array([1., 1., 1., 1., 1., 5.])

In [63]:
arr = [170, 168, 150, 160, 182, 140, 175]

In [67]:
print("The STD Dev is ", stat.stdev(arr))

stat.mean(arr)
stat.median(arr)

The STD Dev is  14.627111162235042

168

In [69]:
stat.mode(arr)

170