## Diagonal Difference

Matrix Diagonal Addition the differene

In [6]:
#!/bin/python3

import math
import os
import random
import re
import sys

#
# Complete the 'diagonalDifference' function below.
#
# The function is expected to return an INTEGER.
# The function accepts 2D_INTEGER_ARRAY arr as parameter.
#

def diagonalDifference(arr):
    # Write your code here
    pass

if __name__ == '__main__':
#     fptr = open(os.environ['OUTPUT_PATH'], 'w')

    n = int(input().strip())

    arr = []

    for _ in range(n):
        arr.append(list(map(int, input().rstrip().split())))

    result = diagonalDifference(arr)

#     fptr.write(str(result) + '\n')

#     fptr.close()

4
2
9
7
4

In [23]:
arr = [[1,2,3],
       [4,5,6],
       [7,8,9]]
arr

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [70]:
for i in range(len(arr)):
#     print(arr[i][i])
    print(arr[i][(len(arr)-1)-i])

3
5
7

In [86]:
left, right = [],[]
for i in range(len(arr)):
    left.append(arr[i][i])
    right.append(arr[i][(len(arr)-1)-i])

left = sum(left)
right = sum(right)
diff = abs(left - right)

## Plus Minus The proportions of occurrence

In [87]:
arr = [1,-1,0,1,-1]

In [120]:
pos = [num for num in arr if num>0]
neg = [num for num in arr if num<0]
neu = [num for num in arr if num==0]

In [130]:
pos = [num for num in arr if num>0]
neg = [num for num in arr if num<0]
neu = [num for num in arr if num==0]
pos_rat = len(pos)/len(arr)
neg_rat = len(neg)/len(arr)
neu_rat = len(neu)/len(arr)
print("{:4f}".format(pos_rat))
print(neg_rat)
print(neu_rat)

0.400000
0.4
0.2

### Stair Case

In [146]:
n = 7

In [155]:
for i in range(n-1,-1,-1):
    print(" "*i+"#"*(n-i))

      #
     ##
    ###
   ####
  #####
 ######
#######

In [154]:
for i in range(n,0,-1):
    print(i)

7
6
5
4
3
2
1

### Mini-Max Sum

Given five positive integers, find the minimum and maximum values that can be calculated by summing exactly four of the five integers. Then print the respective minimum and maximum values as a single line of two space-separated long integers.

In [194]:
arr = [5,3,1,7,9]

In [195]:
arr.sort()

In [196]:
first = arr[:-1]
second = arr[1:]

In [197]:
low = sum(arr[:-1])
high = sum(arr[1:])

In [198]:
low, high

(16, 24)

### Birthday Cake Candles

In [211]:
arr = [3,2,1,3,1,3,3,3]

5

### Time Conversion

Given a time in 12-hour AM/PM format, convert it to military (24-hour) time.

Note: - 12:00:00AM on a 12-hour clock is 00:00:00 on a 24-hour clock.
- 12:00:00PM on a 12-hour clock is 12:00:00 on a 24-hour clock.

In [278]:
t = "07:00:00PM"

In [286]:
if t[-2:] == 'PM':
    hr = int(t[:2])
    hr += 12
    
hr

19

In [284]:
temp = t.replace(t[:2], str(hr))

In [285]:
temp

'19:00:00PM'

In [405]:
# time = "12:40:22AM"
time = "12:45:54PM"

In [406]:
int(time[:2])

12

In [407]:
if int(time[:2]) <= 12 and (time[-2:]=='AM' or time[-2:]=='PM'):
    print("Yes")

Yes

In [410]:
if (time[-2:] == 'AM') and time[:2] == '12':
    new = "00" + time[2:-2]
elif time[-2:] == 'PM' and time[:2] == '12':
    new = "12" + time[2:-2]
elif time[-2:] == 'PM':
    new = int(time[:2])
    new += 12
    new = str(new) + time[2:-2]
elif time[-2:] == 'AM':
    new = time[:-2]

In [411]:
new

'12:45:54'

In [395]:
if (time[-2:] == 'PM' or time[-2:] == 'AM') and time[:2] == '12':
    pass

### Grading Students

In [454]:
grades = [73, 67, 38, 33]

In [496]:
n = 73
mod = n%5
print(mod)

3

In [513]:
grades = [73, 67, 38, 33]

final_grades = []
for grade in grades:
    if grade < 37:
        final_grades.append(grade)
    elif grade % 5 > 2:
        mod = grade % 5
        if mod == 3:
            grade = grade + (mod - 1)
            final_grades.append(grade)
        elif mod == 4:
            grade = grade + (mod - 3)
            final_grades.append(grade)
    else:
        final_grades.append(grade)
        
final_grades

[75, 67, 40, 33]

[74, 67, 39, 33]

### Apple and Orange
https://www.hackerrank.com/challenges/apple-and-orange/problem

In [564]:
apple = [2, 3, -4]
orange = [3, -2, -4]
apple_location, orange_location = 4, 12
home_start, home_end = 7, 10

In [565]:
# apple2 = [12 for i in range(len(apple))]

In [567]:
apple = [apple[i] + apple_location for i in range(len(apple))]
apple

[6, 7, 0]

In [568]:
orange = [orange[i] + orange_location for i in range(len(orange))]
orange

[15, 10, 8]

In [588]:
apple_fallen = [i for i in apple if i>=home_start and i<=home_end]
apple_fallen

[7]

In [589]:
orange_fallen = [i for i in orange if i>=home_start and i<=home_end]
orange_fallen

[10, 8]

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys

# Complete the countApplesAndOranges function below.
def countApplesAndOranges(s, t, al, ol, apple, orange):
    apple_location, orange_location = al, ol
    home_start, home_end = s,t
    apple = [apple[i] + apple_location for i in range(len(apple))]
    orange = [orange[i] + orange_location for i in range(len(orange))]
    apple_fallen = [i for i in apple if i>=home_start and i<=home_end]
    orange_fallen = [i for i in orange if i>=home_start and i<=home_end]
    print(len(apple_fallen))
    print(len(orange_fallen))

if __name__ == '__main__':
    st = input().split()

    s = int(st[0])

    t = int(st[1])

    ab = input().split()

    a = int(ab[0])

    b = int(ab[1])

    mn = input().split()

    m = int(mn[0])

    n = int(mn[1])

    apples = list(map(int, input().rstrip().split()))

    oranges = list(map(int, input().rstrip().split()))

    countApplesAndOranges(s, t, a, b, apples, oranges)

### Number Line Jumps (circus show)
https://www.hackerrank.com/challenges/kangaroo/problem?h_r=next-challenge&h_v=zen

In [680]:
lst = [0,3,4,2]
lst = [2,1,1,2]

In [681]:
x1, v1, x2, v2 = lst[0], lst[1], lst[2], lst[3]

In [682]:
x1, v1, x2, v2

(2, 1, 1, 2)

In [683]:
jumps = 0
flag = False
for i in range(10000):
    x1 = x1 + v1
    x2 = x2 + v2
    jumps += 1
    if x1 == x2:
        print(x1, x2)
        break

3 3

In [684]:
jumps

1

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys

# Complete the kangaroo function below.
def kangaroo(x1, v1, x2, v2):
    for i in range(10000):
        x1 = x1 + v1
        x2 = x2 + v2
        if x1 == x2:
            return "YES"
    else:
        return "NO"

if __name__ == '__main__':
    fptr = open(os.environ['OUTPUT_PATH'], 'w')

    x1V1X2V2 = input().split()

    x1 = int(x1V1X2V2[0])

    v1 = int(x1V1X2V2[1])

    x2 = int(x1V1X2V2[2])

    v2 = int(x1V1X2V2[3])

    result = kangaroo(x1, v1, x2, v2)

    fptr.write(result + '\n')

    fptr.close()

### Between Two Sets
https://www.hackerrank.com/challenges/between-two-sets/problem?h_r=next-challenge&h_v=zen&h_r=next-challenge&h_v=zen
You will be given two arrays of integers and asked to determine all integers that satisfy the following two conditions:

The elements of the first array are all factors of the integer being considered
The integer being considered is a factor of all elements of the second array
These numbers are referred to as being between the two arrays. You must determine how many such numbers exist.

In [719]:
import numpy as np

In [746]:
a = [2,4]
b = [16,32,96]
new = a.copy()
new.extend(b)
new

[2, 4, 16, 32, 96]

In [750]:
valids = []
for i in range(1,101):
    for j in range(len(a)):
        if i % new[:len(a)] == 0 and a[j] % i == 0:
            valids.append(i)

TypeError: unsupported operand type(s) for %: 'int' and 'list'

In [756]:
new[:len(a)][0]

2

# Data Structures:

#### Arrays - DS

In [758]:
arr = [1,4,3,2]

In [766]:
arr[-1::-1]

[2, 3, 4, 1]

#### 2D Array - DS Hourglass

In [772]:
arr = [[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6]]
arr

[[1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6]]

In [795]:
arr = [[1,2,3],
       [4,5,6],
       [7,8,9]]
arr

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [797]:
adds = 0
for i in range(len(arr)):
    for j in range(len(arr)):
        if i == i+1:
            
        adds = adds + arr[i][j]

adds

45

In [818]:
def is_leap(year):
    leap = False
    
    if year % 4 ==0:
        leap = True
        if year%400==0:
            leap = True
        elif year%100==0:
            leap = False
    else:
        leap = False
    
    return leap

year = int(input())
print(is_leap(year))

2000
True

In [821]:
if __name__ == '__main__':
    n = int(input())
    
    for i in range(1,n+1):
        print(i,end="")

5
12345