In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
np.arange(1,31).reshape(5,6)

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30]])

In [59]:
df = pd.DataFrame(np.arange(1,31).reshape(5,6), index=['R1','R2','R3','R4','R5'], columns=['C1','C2','C3','C4','C5','C6'], dtype=int)
df

    C1  C2  C3  C4  C5  C6
R1   1   2   3   4   5   6
R2   7   8   9  10  11  12
R3  13  14  15  16  17  18
R4  19  20  21  22  23  24
R5  25  26  27  28  29  30

In [15]:
df.to_csv('temp.csv')

In [17]:
## Accessing the elements

In [16]:
## 1.loc - Focus only on row index
## 2.iloc - Focus only on Column index

In [46]:
print(type(df.loc['R1']))
df.loc['R1']

<class 'pandas.core.series.Series'>

C1    1
C2    2
C3    3
C4    4
C5    5
C6    6
Name: R1, dtype: int32

In [40]:
df.iloc[:,:] #All rows and cols

    C1  C2  C3  C4  C5  C6
R1   1   2   3   4   5   6
R2   7   8   9  10  11  12
R3  13  14  15  16  17  18
R4  19  20  21  22  23  24
R5  25  26  27  28  29  30

In [44]:
print(type(df.iloc[0:2,0:2]))
df.iloc[0:2,0:2] ## select only specific cols and rows

<class 'pandas.core.frame.DataFrame'>

    C1  C2
R1   1   2
R2   7   8

In [61]:
# Converting DF into numpy array
print(df.iloc[:,:].values.shape)

df.iloc[:,:].values

(5, 6)

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30]])

In [75]:
df['C1'].value_counts()

7     1
13    1
25    1
19    1
1     1
Name: C1, dtype: int64

In [76]:
# check for null values

In [78]:
df.isnull()

       C1     C2     C3     C4     C5     C6
R1  False  False  False  False  False  False
R2  False  False  False  False  False  False
R3  False  False  False  False  False  False
R4  False  False  False  False  False  False
R5  False  False  False  False  False  False

In [80]:
df.isnull().sum()

C1    0
C2    0
C3    0
C4    0
C5    0
C6    0
dtype: int64

In [89]:
df['c1'.upper()].unique()

array([ 1,  7, 13, 19, 25])

In [95]:
df[['C1','C2']]

    C1  C2
R1   1   2
R2   7   8
R3  13  14
R4  19  20
R5  25  26