## Map functions

In [1]:
def evenOdd(n):
    if n%2 == 0:
        return "Number {} is Even".format(n)
    else:
        return "Number {} is Odd".format(n)

In [2]:
evenOdd(3)

'Number 3 is Odd'

In [3]:
lst = [1,2,3,4,5,7,8,9,65,12,45,78,35,45,98]

In [4]:
map(evenOdd, lst)

In [5]:
list(map(evenOdd, lst))

['Number 1 is Odd',
 'Number 2 is Even',
 'Number 3 is Odd',
 'Number 4 is Even',
 'Number 5 is Odd',
 'Number 7 is Odd',
 'Number 8 is Even',
 'Number 9 is Odd',
 'Number 65 is Odd',
 'Number 12 is Even',
 'Number 45 is Odd',
 'Number 78 is Even',
 'Number 35 is Odd',
 'Number 45 is Odd',
 'Number 98 is Even']

## Map Important

In [97]:
temps =  (['India',40], ['USA',32], ['Brazil',49], ['Spain',25])

In [98]:
list(map(lambda data:(data[0], data[1]*2), temps ))

[('India', 80), ('USA', 64), ('Brazil', 98), ('Spain', 50)]

## Filter Function

In [13]:
lst = [1,2,3,4,5,6,7,8,9,0]

In [7]:
##### Way 1 #####

def evenOdd(n):
    if n%2 == 0:
        return True

list(filter(evenOdd, lst))

[2, 4, 6, 8, 0]

In [8]:
##### Way 2 #####

evenOdd = lambda n:n%2==0

list(filter(evenOdd, lst))

[2, 4, 6, 8, 0]

In [9]:
##### Way 3 #####  Shortest

list(filter(lambda n:n%2==0, lst))

[2, 4, 6, 8, 0]

In [21]:
## Map gives T or F

list(map(lambda n:n%2==0, lst))

[False, True, False, True, False, True, False, True, False, True]

## Filter Important

In [74]:
lst = ['',0, 'A', 'B', 'C','','D','E','','G']

In [75]:
list(filter(None, lst))

['A', 'B', 'C', 'D', 'E', 'G']

## Reduce Function

In [107]:
import numpy as np
lst = [1,2,3,4,5,6,7,8,9,0]

In [101]:
import functools

# functools.reduce( lambda x:x%2==0 , lst)

functools.reduce( lambda a,b : a+b, lst )

45

In [102]:
lst = [1,2,3,4,5]

In [104]:
functools.reduce(lambda a,b:a*b, lst)

120

In [118]:
n = int(input("Enter number: "))

lst = np.arange(1, n+1)

print("Factorial of {} is {}".format(n, functools.reduce(lambda a,b:a*b, lst) ))

Enter number: 5
Factorial of 5 is 120

In [126]:
fact = 1

for i in range(1,6):
    fact = fact * i

fact

120

## some other tp

In [14]:
import random

# lst = [2,6,10,14,18,22,26,30,34,38,42,46,50,54,58]

In [11]:
a = random.choice(lst)
b = random.choice(lst)
c = random.choice(lst)

if a!=b and a!=c and b!=c:
    print(a, b, c)

34 50 10