In [39]:
import pandas as pd
import datetime

In [40]:
datetime.datetime.today()

datetime.datetime(2020, 10, 14, 17, 51, 41, 605454)

In [79]:
today = datetime.datetime.today()
data_list = [today - datetime.timedelta(days=i) for i in range(20)]

data_list[0].strftime("%A") #Gives Weekday name

'Wednesday'

In [58]:
df = pd.DataFrame(data_list, columns=["Dates"])

In [66]:
df.head()

                       Dates
0 2020-10-14 17:55:01.562995
1 2020-10-13 17:55:01.562995
2 2020-10-12 17:55:01.562995
3 2020-10-11 17:55:01.562995
4 2020-10-10 17:55:01.562995

In [122]:
Day_date_dict = {
    "Monday":1,
    "Tuesday":2,
    "Wednesday":3,
    "Thursday":4,
    "Friday":5,
    "Saturday":6,
    "Sunday":7
}

In [105]:
df['Day'] = df['Dates'].apply(lambda x: x.strftime('%A'))

In [106]:
# df['Dates'].apply(lambda x: x.strftime('%A'))

In [123]:
# df['Day'].map(Day_date_dict)

df['Ordinal_day'] = df['Day'].map(Day_date_dict)
df

                        Dates        Day  Ordinal_day
0  2020-10-14 17:55:01.562995  Wednesday            3
1  2020-10-13 17:55:01.562995    Tuesday            2
2  2020-10-12 17:55:01.562995     Monday            1
3  2020-10-11 17:55:01.562995     Sunday            7
4  2020-10-10 17:55:01.562995   Saturday            6
5  2020-10-09 17:55:01.562995     Friday            5
6  2020-10-08 17:55:01.562995   Thursday            4
7  2020-10-07 17:55:01.562995  Wednesday            3
8  2020-10-06 17:55:01.562995    Tuesday            2
9  2020-10-05 17:55:01.562995     Monday            1
10 2020-10-04 17:55:01.562995     Sunday            7
11 2020-10-03 17:55:01.562995   Saturday            6
12 2020-10-02 17:55:01.562995     Friday            5
13 2020-10-01 17:55:01.562995   Thursday            4
14 2020-09-30 17:55:01.562995  Wednesday            3
15 2020-09-29 17:55:01.562995    Tuesday            2
16 2020-09-28 17:55:01.562995     Monday            1
17 2020-09-27 17:55:01.562995     Sunday            7
18 2020-09-26 17:55:01.562995   Saturday            6
19 2020-09-25 17:55:01.562995     Friday            5

In [124]:
df['Ordinal_day'].value_counts()

7    3
6    3
5    3
3    3
2    3
1    3
4    2
Name: Ordinal_day, dtype: int64

In [126]:
x = 5

In [134]:
f = lambda x : x * 2

In [136]:
f(12)

24